$deep-blue:#09223F;
$deep-blue-faint:rgba(9,34,63,.05);
$deep-blue-faint-active:rgba(9,34,63,.20);
$white:#FFFFFF;
$red:#DD0000;
$sky-blue:#209FDA;
$mustard:#DBA53C;
$off-white:#FEFEFE;
$gray:#5F7694;
$grey:#6C7C93;
$light-grey:#9BB1B4;
$purple:#6A4387;
$green:#61AC45;
$teal:#79B5B6;
$dark-teal:#4F7D94;
$white-smoke:#EEF2F4;
$haze:#DAE0E3;
$brick:#E7664D;
$blue:#1F5FAC;
$soft-blue:#8BB1DE;
$paper:#F9F9F9;
$mortar:#E5E5E5;
$black: #111C2C;